body.page {

	@include fontsize(12);

	header {
		background: #ffffff;
		box-shadow: 0px 0px 5px #ddd;
	}

	nav.header__nav {
		ul {
			li {
				color: $text;
			}
		}
	}

	.body {
		padding-top: $full-padding-h * 4;
	}

	h1 {
		color: $textBlack;
	}

}